.profileInner{

    .bgImage{
        width: 100%;
        height: 150px;

        background: url('https://swiss-image.ch/fileadmin/_processed_/csm_Swiss_Image_sts8595_788cf78097.jpg') no-repeat center;
        background-size: cover;
        border-radius: 10px 10px 0 0;
    }
}