
.posts{
    margin: 20px 20px 40px;

    .title{
        font-family: 'Arial';
        font-size: 24px;
        color: #525252;
    }

    .newPost{
        display: flex;
        align-items: center;
        flex-direction: column;
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 3px 5px #d5d5d5;

        padding: 20px;

        textarea{
            display: block;
            width: 100%;
            min-height: 20px;
            height: auto;

            font-family: 'Arial';
            font-size: 16px;

            border: 2px #c2c2c2 solid;
            border-radius: 10px;
            outline: none;

            padding: 10px;
            margin-bottom: 15px;
            resize: none;
        }
        button{
            width: 150px;
            height: 40px;

            font-family: 'Arial';
            font-size: 18px;
            font-weight: 600;
            color: #fff;

            background: #268be8;
            border: none;
            border-radius: 10px;
            cursor: pointer;

            transition: background 0.2s;

            &:hover{
                background: #1b83e3;
            }
        }
    }
    .publicPosts{
        margin-top: 20px;

        .item{
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 3px 5px #d5d5d5;

            padding: 15px 25px;
            margin-bottom: 15px;

            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}