.dialogs{
    display: grid;
    grid-template-columns: 4fr 8fr;
    grid-gap: 20px;

    padding: 20px;

    .dialogItems{
        width: 100%;
        height: auto;

        border-right: 1px #525252 solid;
        padding-right: 20px;
    }
    .messages{
        padding-left: 20px;
    }
}